
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000c8f;
    color: white;
    padding: 10px 20px;
  }
  
  .logo-container img {
    height: 50px;
  }
  
  .optica-name h1 {
    font-size: 3.8rem;
    margin: 0;
  }
  
  .clock p {
    font-size: 1.2rem;
    margin: 0;
  }
  