

.client-form-container {
    width: 100%;
    max-width: 700px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 0 auto; /* Centrado horizontal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px; /* Esquinas redondeadas */
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #007bff; /* Borde azul cuando se hace foco */
    outline: none;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Hacer que el botón ocupe todo el ancho */
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
  }
  